@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Spectral&family=Stylish&family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@1,6..72,300&display=swap");
@import "https://unpkg.com/open-props";

:root {
    --color-default: #f5f2e9;
    --text-color: #3a333d;
    --dairy: #333;
    --bi: #f2e9e1;
    --a-color: #284b63;
    --name: var(--text-color);
    --p-color: #3a333d;
    --italics: "Newsreader";
}

html *,
html *:after,
html *:before {
    box-sizing: inherit; 
}

[data-theme="light"] {
    --color-default: #f5f2e9;
    --text-color: #3a333d;
    --dairy: #333;
    --bi: #f2e9e1;
    --a-color: #284b63;
    --name: var(--text-color);
    --p-color: #bbbbbb;
    --italics: "Newsreader";
}
[data-theme="dark"] {
    --color-default: #000;
    --text-color: #bbbbbb;
    --color-border: #e7e7e7;
    --dairy: #333;
    --bi: hsla(0, 0%, 9%, 1);
    --name: #fff;
    --a-color: #81e6d9;
    --p-color: #bbbbbb;
    --italics: "Newsreader";
}
h3 {
    font-family: "Stylish";
}
html body {
    font-family: 100%/1.5 "Spectral", system-ui, helvetica, sans-serif;
    color: var(--text-color);
    min-height: 100%;
    width: 100%;
    background: var(--bi);
    transition: background 0.3s;
    background-attachment: fixed;
    background-size: cover;
}
.cd {
    margin-top: 24px;
}

.moveRight {
    float: right;
    padding-right: 10%;
}
.scrollport {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
  }
  
  .scrollport > div {
    width: 192px;
    height:350px;
    background-color: transparent;
    aspect-ratio: var(--ratio-square);
  }

  .scrollport span {
    font-family: "Spectral", sans-serif ;
  }
  
hr {
    overflow: visible;
    padding-bottom: 18px;
    margin: 5em auto;
    border: none;
    border-top: 1px solid var(--text-color);
    color: var(--text-color);
    text-align: center;
    width: 40%;
}
hr:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    background: var(--bi);
    transform: translateY(-0.1em);
}
.name a {
    background-color: transparent;
}
.spacers {
    padding: 2em;
}
em {
    font: 600 italic calc(1em + 1px) / normal var(--italics);
}

.name {
    font-family: "Stylish", sans-serif;
    color: var(--name);
    font-size: 1.8em;
}
code {
    background-color: rgba(143, 159, 169, 0.15);
    border-radius: 6px;
    padding: 0.2em 0.4em;
    color: var(--a-color);
}

.zero {
    opacity: 0;
    font-size: 0;
}

.til {
    background-color: #292a2c;
}

p {
    margin-bottom: 1.6rem;
    font-size: 1rem;
    color: var(--text-color);
}

header,
main,
footer {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: background 0.3s;
}
.vertical_dotted_line {
    border-left: 1px dotted var(--text-color);
}

.horizontal_dotted_line {
    border-bottom: 1px dotted var(--text-color);
}
.horizontal_line {
    content: " ";
    display: block;
    border-bottom: 0.5px solid var(--text-color);
}
.header,
.header-area {
    height: var(--header-height);
}

.c-lhitIg {
    display: block;
    height: calc(100% - 90px);
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    /* margin: 0px -10px -10px -10px; */
    transition: background 500ms ease;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    background-color: transparent;
}

.c-lhitIg:hover {
    background: rgba(143, 159, 169, 0.15);
}
.grey-text a {
    text-decoration: none;
    color: rgb(120 113 108/1);
    font-family: "Spectral", sans-serif;
    background-color: transparent;
}
blockquote {
    border-left: 2.8px solid var(--a-color);
    padding-left: 0.7em;
}
BiRss {
    color: var(--text-color);
}
.menu,
.menu-item {
    display: flex;
    height: 100%;
}
.grey-text a:hover {
    background-color: rgba(143, 159, 169, 0.15);
    /* padding: 0 0.1em; */
    /* margin: auto -0.1em; */
    border-radius: 3px;
    border: 5px;
    color: var(--a-color);
    text-decoration: none;
}

h1 {
    font-family: "Stylish", "ui-serif";
    font-size: 2.5rem;
    color: var(--name);
}
p {
    font-family: "Spectral", sans-serif;
    color: var(--text-color);
    line-height: 1.5em;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid var(--text-color);
    border-style: dotted;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}

.grid-container:hover {
    transform: scale(1.05, 1.05);
}

.page {
    padding: 1.5rem;
    border-radius: 2px;
    min-height: 20rem;
    line-height: 160%;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px;
    color: var(--dairy);
}

#tab-1 p {
    color: #000;
}
.page code {
    background-color: transparent;
}

.content {
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding: 0.5px;
}
.content #tab-1 {
    display: block;
}
.content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: inherit;
}
.content__inner {
    font-family: "Spectral", sans-serif;
    display: none;
    background: #f9d877;
    border-radius: inherit;
    padding: 1rem;
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
    z-index: 5;
    font-size: 1.4vw;
}

.iframe-link iframe {
    display: none;
}
.iframe-link:hover iframe {
    -webkit-animation: slow 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slow 2s; /* Firefox < 16 */
    -ms-animation: slow 2s; /* Internet Explorer */
    -o-animation: slow 2s; /* Opera < 12.1 */
    animation: slow 2s;
    display: block;
    /* opacity: 1; */
}

@keyframes slow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.second {
    -webkit-animation: slow 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slow 3s; /* Firefox < 16 */
    -ms-animation: slow 3s; /* Internet Explorer */
    -o-animation: slow 3s; /* Opera < 12.1 */
    animation: slow 3s;
    display: block;
}

.third {
    animation-name: animateIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
@keyframes animateIn {
    0% {
        opacity: 0;
        /* transform: scale(0.6) translateY(-8px); */
    }

    100% {
        opacity: 1;
    }
}

.third ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pad {
    padding-left: 1rem;
    margin: 0;
}
.pads {
    padding: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    font-family: "Stylish", sans-serif;
}

.text {
    font-family: "Hammersmith One";
    text-decoration: none;
    background-color: none;
}
.text-am-green-light {
    text-decoration: none;
}

.false {
    text-decoration: none;
}
.remove {
    text-decoration: none;
}
.text:hover {
    color: plum;
}
.here {
    color: plum;
    text-decoration: none;
    background-color: none;
}

nav a {
    background-color: transparent;
    color: var(--text-color);
    font-family: "Stylish", sans-serif;
}
.text2:hover {
    color: plum;
    text-decoration: none;
}
.cent {
    text-align: center;
    padding-top: 50px;
}
a:hover {
    color: plum;
}
a {
    background-color: rgba(143, 159, 169, 0.15);
    padding: 0 0.1em;
    margin: auto -0.1em;
    border-radius: 3px;
    color: var(--a-color);
    text-decoration: none;
}

.content-card {
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
}
.text-sm {
    text-decoration: none;
    font-family: "Stylish";
}
.pad p {
    margin: 0;
}

.project ol {
    padding: 0;
    margin: 2em;
}
@media (max-width: 768px) {
    .text-3xl {
        text-align: center;
    }
    .vertical_dotted_line {
        border: none;
    }
}

.project li a {
    background-color: transparent;
    color: var(--text-color);
}

.backlinks {
    border: 0.7px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    margin: 0.5em;
    padding: 0.25em 1em;
    display: inline-block;
}
.backlinks a {
    text-decoration: none;
}
.movedrown {
    margin-top: -2rem;
}

.page-summary p {
    font-family: "Stylish", sans-serif;
}
.nav {
    padding: 2rem;
    width: 100%;
    display: inline-grid;;
    grid-template-columns: auto max-content;
    box-sizing: border-box;
    color: var(--text-color);
}

.nav .right {
    flex-direction: row;
    display: flex;
}
.Navspace{
    flex: auto
}

.nav .right a{
    margin-left: 1.2rem;
}
@media screen and (max-width: 768px) {
    .nav .right a {
        gap: 0.5rem;
        margin-left: 0.4rem
    }
}
.nav button svg {
    margin-top: 0.5rem;
}

h2 {
    font-size: 1.65em;
    font-family: "Stylish", sans-serif;
}
.xx {
    text-decoration: none;
}

.aaa {
    text-decoration: underline;
    font-family: "Spectral";
}

.prose {
    max-width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    padding: 20px;
}
.justify-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.footnotes a {
    background-color: transparent;
    color: var(--text-color);
}
sup a {
    background-color: transparent;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--text-color);
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: plum;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.post-title {
    font-size: 30px;
    line-height: 1.4em;
}
.post-title h1 p {
    color: (--text-color);
    font-family: "Stylish";
}
.title {
    font-family: "Stylish";
}
.post-date {
    font-size: 16px;
    font-weight: 400;
    font-family: "Stylish";
    padding-bottom: 10px;
}
.inline {
    display: inline;
}
.padds{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.ded p{
    color: #bbbbbb;
}

.ded{
    color: #bbbbbb;
}
.bookpad{
    padding: 1rem;
}
