@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=JetBrains+Mono:wght@300&family=Spectral:wght@300&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

html *:after,
html *:before {
    box-sizing: inherit; 
}

:root {
    --color-default: #f5f2e9;
    --text-color: #273B61;
    --dairy: #333;
    --bi: #D0B2B7;
    --a-color: #ff5532 !important;
    --name: var(--text-color);
    --p-color: #bbbbbb;
    --search-color: ##D0B2B7;
    --rule: #273B61;
   --selector: black;
}

[data-theme="light"] {
    --color-default: #f5f2e9;
    --text-color: #333;
    --bi: rgb(245, 244, 235);
    --a-color: rgb(148, 85, 3) !important;
    --name: #333;
    --search-color: #E7E5E0;
    --rule: rgb(148, 85, 3);
   --selector: #b3d4fc;
   --selectorColor:var(--text-color);

}
[data-theme="dark"] {
    --color-default: rgb(1, 2, 4);;
    --text-color: #8a8f98;
    --color-border: #e7e7e7;
    --bi: #000;
    --name: #fff;
    --a-color: #ff9a9e !important;
    --search-color:#33312f !important;
    --rule: #252525;
    --selector: #ff9a9e;
    --selectorColor:black;

    
}

html body {
    -webkit-text-size-adjust: 100%;
    font-family: 100%/1.5 "EB Garamond", system-ui, helvetica, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    max-width: 100vw;
    min-height: 100vh;
    background: var(--bi);
    transition: background 0.3s;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.command-palette ::-webkit-scrollbar{
    display: none !important;
}
.command-palette .bg-white {
    --tw-bg-opacity: 1;
    background-color:rgb(17 24 39/var(--tw-bg-opacity)) !important;

}

.command-palette .bg-gray-200\/50 {
         background-color: rgb(31 41 55) !important;
}
.command-palette-list-item:hover {
  background-color: rgb(31 41 55) !important;

}
.command-palette .divide-y>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-color: rgb(31 41 55/var(--tw-divide-opacity)) !important;
    border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
}
hr {

    border: none;
    overflow: visible;
    border-top: 1px solid var(--rule);
    text-align: center;
    width: 40%;
    padding-bottom: 10px;
    margin: 2em auto !important;
}
hr:after {
    content: "* * *";
    display: inline-block;
    color: var(--rule);
    margin: -0.9em 0 0.5em;
    font-size: 2em;
    padding: 0.5em 0.5em;
    background: var(--bi);
    transform: translateY(-0.1em);
    z-index: -999;
    padding-top: 13px
}
.spacers {
    margin-top: 50px;
}
.homespacers{
    margin-top: 25vh;
}

#footnote-label{
    display: none;
}

@media screen and (max-width: 768px) {
    .homespacers{
        margin-top: 0vh !important;
    }
    .gapps {
        padding: 2em;
    }
    .hide {
        display: none;
     }
     .unhide{
         padding-top: 2vh ;
     }
}

.unhide{
    background-color: transparent
}
    
.name {
    font-family: 'EB Garamond', serif;
    color: var(--name);
}


code {
    background-color: rgba(143, 159, 169, 0.15);
    border-radius: 6px;
    padding: 0.2em 0.4em;
    color: var(--a-color);
}


header,
main,
.third,
footer {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.date2{
    display: none;
}
@media screen and (max-width: 768px) {
    .date {
        display: none;
    }
    .date2{
        display: block;
    }
}
    
.c-lhitIg {
    display: block;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid var(--text-color);
    border-radius: 0;
    background: transparent;
    padding-bottom: 0;
    color: var(--text-color) !important;
}
.ruler{
    border-bottom: 1px solid var(--rule);
    margin-left: 17em;
    margin-right: 1em;
}
.writings a{
    background-color: transparent;
}
 /* .c-lhitIg:hover {
    background: rgba(143, 159, 169, 0.15);
    transition:  700ms ease;
} */

blockquote {
    border-left: 2.8px solid var(--a-color);
    padding-left: 0.7em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


h1 {
    font-family: 'EB Garamond', sans-serif !important;
    font-size: 2.75rem !important;
    color: var(--name);
    line-height: 1.2 !important;
    font-weight: 200 !important;

}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
em {
    font-style: italic;
    font-family: 'EB Garamond', serif;
}

.grid-container:hover {
    transform: scale(1.05, 1.05);
}

.page {
    padding: 1.5rem;
    border-radius: 2px;
    min-height: 20rem;
    line-height: 160%;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px;
    color: var(--dairy);
}

#tab-1 p {
    color: #000;
}
.page code {
    background-color: transparent;
    color: black;
}



.pad {
    padding-left: 1rem;
    margin: 0;
}
.pads {
    padding: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    font-family: 'EB Garamond', serif;
}

.cent {
    text-align: center;
    padding-top: 50px;
}
a {
    color: var(--a-color) !important;
    background-color: rgba(143, 159, 169, 0.15);
    padding: 0 0.1em;
    margin: auto -0.1em;
    border-radius: 3px;
    text-decoration: none;
}

.content-card {
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
}
.text-sm {
    text-decoration: none;
    font-family: "Stylish";
}
.pad p {
    margin: 0;
}

.backlinks {
    /* border: 0.7px solid var(--rule);
    border-radius: 5px; */
    color: var(--text-color);
    background-color: transparent;
    margin: 0.5em;
    padding: 0.25em 1em;
    display: inline-block;
}
.backlinks::before {
    content: "✺ ";
    margin-right: 0.5em;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .backlinks {
        display: block;
        
    }
}
    

.backlinks a {
    text-decoration: none;
}
.movedrown {
    margin-top: -2rem;
}

samp a{
    background-color: transparent;
}

samp{
    color: var(--text-color);
}
p{
    margin: 15px 0 !important;
    font-family: 'EB Garamond', sans-serif; 
    font-size: 1.2em !important;
}
.clock{
    display: none;
}
@media (max-width: 768px){
    .clock{
        display:block;
    }
    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        height: 19px;
        display: block;
        min-width: 100%;
    }

    samp{
    display: inline-block;
    text-indent: 0;
    overflow: hidden;
    animation: marquee 15s linear infinite;
    will-change: transform;
    text-indent: 0;
    }
}
  @keyframes marquee {
    0% { transform: translate(100%, 0); -webkit-transform: translateX(100%); }
    100% { transform: translate(-100%, 0); -webkit-transform: translateX(-100%); }
}

.page-summary p {
    font-size: 1.2em;
    font-family: 'EB Garamond', sans-serif;
    color: var(--text-color);
    line-height: 1.5;
    margin: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 2em;
    box-sizing: border-box;
    color: var(--text-color);
}
.nav .name{
    padding-left: 1rem;
}

.nav .right {
    flex-direction: row;
    display: flex;
    float: right;
    /* padding-top: 5px */
}
.Navspace{
    flex: auto
}

.nav .right a{
    margin-left: 1.2rem;
}
@media screen and (max-width: 768px) {
    .nav .right a {
        gap: 0.5rem;
        margin-left: 0.4rem
    }
}

h2 {
    font-size: 2rem !important;
    font-family: "EB Garamond",serif;
    color : var(--name);
    font-weight: 200;
    line-height: 1.2;

}
h3{
    font-size: 1.6rem !important;
    font-family: "EB Garamond",serif;
    color : var(--name);
    line-height: 1.2;

}

.prose {
    max-width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    padding: 20px;
}
.justify-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.footnotes  a  {
    background-color: transparent;
    color: var(--text-color) !important;
    font-family: 'EB Garamond', sans-serif !important;
}

.footnotes {
    border-top: 1px solid var(--text-color);
}


.post-title {
    font-family: 'EB Garamond', sans-serif !important;
    font-size: 2.75rem !important;
    color: var(--name);
    line-height: 1.2 !important;
    font-weight: 400 !important;
}
.title {
    font-family: "Stylish";
}
.post-date {
    font-size: 0.725rem;
    font-family: 'EB Garamond', sans-serif !important;
    margin-top:10px !important;
}
.inline {
    display: inline;
}
.padds{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.ded p{
    color: #bbbbbb;
    padding: 0;
}

ol,ul{
    margin-left: 1em !important;

}

.ded{
    color: #bbbbbb;
}

.bookpad{
    margin-left: 1.7em;

}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

li, ul{
    font-family: "Spectral";
    list-style-type: "✺ ";
}
/* reveal fadein animation with mask */

.command-palette menu, .command-palette ol, .command-palette ul{
    margin-left: 0 !important;
}

@keyframes cool-fadein {
    
        0% {
          mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
          opacity: .2;
        }
        100% {
          mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
          opacity: 1;
        }
      
}
    
img, video{
    animation: cool-fadein 1s;
    object-fit: cover;
    border-radius:4px;
}

.projects img{
    box-shadow: 0 0 16px 2px #33333328, 0 0 16px -16px #33333328;
    object-fit: cover;
    border-radius:4px;
    min-width: 225px;
    max-width: 225px;
    display: block;
    margin-right: 30px;
}

.projects{
    display: flex
}
.projects p{
   display: flex;
    flex-direction: column;
    text-align: left;
}
.projects a{
    background-color: transparent
}

.projects h2{
    font-size: 1.65em;
    font-family: ui-serif;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px){

    .projects img{
        max-width: 100%;
    }
    .projects p{
        display: block;
        flex-direction: row;
        align-items: center;
    }
    .projects{
        display: block;
    }
    .ruler{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}


.search-icon{
    background-color: var(--search-color);
    border-radius: 4px;
 
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.search-icon p{
    display: inline;
    padding: 0 1.5em 0 2em;
}

.search-icon svg{
    cursor: pointer;
    width: 18px;
    min-width: 18px;
    margin: 0 0.5em;
}
.themeButton{
    font-size: 1.5em;
    padding-top: 0.2rem;
}
.truncate{
    font-family: "Spectral";
   
    color: white !important
}
pre{
    margin-bottom: 2em !important;
}
::selection{
    text-shadow: none;
    background-color: var(--selector);
    color: var(--selectorColor);
}
.hljs *{
    font-family: 'JetBrains Mono', monospace !important;
}
code{
    font-family: "Stylish" !important;
}
.page code{
    font-family: "Stylish";
}
code span{
    font-family: "Spectral";
}


table, th, td {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 1px solid var(--rule);
  }
  td{
    padding-left: 5px;
    padding-right: 5px;
  }
td a{
    background-color: transparent !important;
}

td img{
    display: inline;
}

a{
    font-family: "Stylish" !important;
}
 .noscroll::-webkit-scrollbar{
    display: none !important;
} 

.photos ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    gap: 8px;
    margin: -112px -50vw;
    width: 100vw !important;
    position: relative;
    left: 50%;
    right: 50%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}
.imageee{
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 440px !important;
    height: 700px;
    outline: 0;
}
.project li{
    margin: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.photos img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: center;
    filter: blur(32px);
    -webkit-user-select: none;
    user-select: none;
}
.third:nth-child(1) { animation-delay: .600ms }
.third:nth-child(2){animation-delay: 700ms;}
.third:nth-child(3){animation-delay: 900ms;}
.third:nth-child(4){animation-delay: 1000ms;}
.third:nth-child(5){animation-delay: 1100ms;}

.writingWrapper:hover .writings{
    opacity:0.4;
}
.writingWrapper .writings:hover{
    opacity:1;
}

