@import url("https://fonts.googleapis.com/css?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith%20One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spectral&display=swap");

:root {
    --color-default: #f2e9e1;
    --text-color: #000;
    --color-border: #e7e7e7;
    --dairy: #333;
    --til-color: #e5e7eb;
    --bi: radial-gradient(circle, #ccc 1px, #f2e9e1 1px);
    --quote: rgb(33, 33, 33);
}
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
html *,
html *:after,
html *:before {
    box-sizing: inherit;
}


@media (prefers-color-scheme: dark) {
    :root {
        --color-default: #000;
        --text-color: #fff;
        --color-border: #e7e7e7;
        --dairy: #333;
        --til-color: rgb(33, 33, 33);
        --bi: radial-gradient(circle, #fff 0.2px, #3f3344 1px);
        --quote: #e5e7eb;
    }
}
[data-theme="dark"] {
    --color-default:#201624;
    --text-color: #fff;
    --color-border: #e7e7e7;
    --dairy: #333;
    --til-color: rgb(33, 33, 33);
    --bi: radial-gradient(circle, #fff 0.2px, #201624 1px);
    --quote: #e5e7eb;
}
[data-theme="light"] {
    --color-default: #f2e9e1;
    --text-color: #000;
    --dairy: #333;
    --til-color: #e5e7eb;
    --bi: radial-gradient(circle, #ccc 1px, #f2e9e1 1px);
    --quote: rgb(33, 33, 33);
}

html body {
    font-family: 100%/1.5 "Spectral", system-ui, helvetica, sans-serif;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    background-size:  32px 32px;
    background-image: var(--bi);
}

.til {
    background-color: var(--til-color);
}

p {
    margin-bottom: 1.6rem;
    font-size: 1.125rem;
}

header,
main,
footer {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.header {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid var(--color-border);
    transition: background 0.3s;
}
.header,
.header-area {
    height: var(--header-height);
}

.spacer{
    padding: 2rem ;
}
.menu-logo {
    font-weight: 700;
    font-size: 1.25rem;
}

.grey-text {
    color: rgb(120 113 108/1);
}
.grey-text  a{
    text-decoration: none;
}
blockquote {
    border-left: 4px solid var(--quote);
    padding-left: 1em;
}

.menu,
.menu-item {
    display: flex;
    height: 100%;
}

h1 {
    font-family: "Hammersmith One", "ui-serif";
    font-size: 2.5rem;
}
p {
    font-family: "Spectral", "ui-serif";
    font-size: 1.2em;
}

.footer {
    padding: 2rem 0;
    border-top: 0.0625rem solid var(--color-border);
    text-align: center;
    margin-left: 15px;
}

footer p {
    text-align: center;
    margin-left: 15px;
    margin: 0;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid var(--text-color);
    border-style: dotted;
    padding: 20px;
    font-size: 10px;
    text-align: center;
}

.grid-container:hover {
    transform: scale(1.05, 1.05);
}

.page {
    padding: 1.5rem;
    border-radius: 2px;
    min-height: 20rem;
    line-height: 160%;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px;
    color: var(--dairy);
}

.content {
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding: 0.5px;
}
.content #tab-1 {
    display: block;
}
.content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: inherit;
}
.content__inner {
    font-family: "Spectral", sans-serif;
    display: none;
    background: #f9d877;
    border-radius: inherit;
    padding: 1rem;
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
    z-index: 5;
    font-size: 1.4vw;
}

.iframe-link iframe {
    display: none;
}
.iframe-link:hover iframe {
    -webkit-animation: slow 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slow 2s; /* Firefox < 16 */
    -ms-animation: slow 2s; /* Internet Explorer */
    -o-animation: slow 2s; /* Opera < 12.1 */
    animation: slow 2s;
    display: block;
    /* opacity: 1; */
}

@keyframes slow {
    from {
        opacity: -20;
    }
    to {
        opacity: 1;
    }
}
.first{
    -webkit-animation: slow 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slow 2s; /* Firefox < 16 */
    -ms-animation: slow 2s; /* Internet Explorer */
    -o-animation: slow 2s; /* Opera < 12.1 */
    animation: slow 3s;
    display: block;
}

.second{
    -webkit-animation: slower 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slower 2s; /* Firefox < 16 */
    -ms-animation: slower 2s; /* Internet Explorer */
    -o-animation: slower 2s; /* Opera < 12.1 */
    animation: slow 3s;
    display: block;
}

.third{
    -webkit-animation: slower 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slower 7s; /* Firefox < 16 */
    -ms-animation: slower 7s; /* Internet Explorer */
    -o-animation: slower 7s; /* Opera < 12.1 */
    animation: slow 7s;
    display: block;
}



.pad {
    padding-left: 1rem;
    margin: 0;
}
.pads {
    padding: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    font-family: "Hammersmith One";
}

.text {
    font-family: "Hammersmith One";
    text-decoration: none;
}
.text-am-green-light {
    text-decoration: none;
}

.false {
    text-decoration: none;
}
.remove {
    text-decoration: none;
}
.text:hover {
    color: plum;
}
.here {
    color: plum;
    text-decoration: none;
}
.text2:hover {
    color: plum;
    text-decoration: none;
}
a:hover {
    color: plum;
}
a {
    text-decoration: underline;
}
.content-card {
    text-decoration: none;
}
.text-sm {
    text-decoration: none;
}
.pad p {
    margin: 0;
}

.backlinks {
    border: 0.7px solid var(--color-border);
    padding: 10px;
    border-radius: 10px;
}
.page-summary:hover {
    color: white;
}
.page-summary p{
    font-family: "Yomogi";
}
/*********************************SEARCH STYLE FROM https://github.com/jackyzha0/quartz/blob/34b0353797a0d24c309139034918ad2060f504f5/assets/styles/base.scss#L402*********************************** */
#search-container {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    display: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* color: #000; */
}
#search-container > div {
    width: 50%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
}
@media all and (max-width: 1200px) {
    #search-container > div {
        width: 90%;
    }
}
#search-container > div > * {
    width: 100%;
    border-radius: 4px;
    background: var(--til-color);
    box-shadow: 0 14px 50px rgba(27, 33, 48, 0.12), 0 10px 30px rgba(27, 33, 48, 0.16);
    margin-bottom: 2em;
}
#search-container > div > input {
    box-sizing: border-box;
    padding: 0.5em 1em;
    font-family: "Spectral", sans-serif;
    color: var(--text-color);
    font-size: 1.1em;
    border: 1px solid var(--outlinegray);
    background: var(--til-color);
}
#search-container > div > input:focus {
    outline: none;
}
#search-container > div > #results-container .result-card {
    padding: 1em;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 1px solid var(--outlinegray);
    border-bottom: none;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    text-align: left;
    background: var(--light);
    outline: none;
}
#search-container > div > #results-container .result-card:hover,
#search-container > div > #results-container .result-card:focus {
    background: rgba(180, 180, 180, 0.15);
}
#search-container > div > #results-container .result-card:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#search-container > div > #results-container .result-card:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid var(--outlinegray);
}
#search-container > div > #results-container .result-card > h3,
#search-container > div > #results-container .result-card > p {
    margin: 0;
}
.input {
    background-color: var(--til-color);
    font-family: "Spectral";
    border-color: var(--til-color);
    width: 100%;
}

.navs {
    font-size: 1.2vw;
}

.section-ul {
    list-style: none;
    padding-left: 0;
}
.section-ul > li {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 0 1em;
    margin-bottom: 1em;
}
.section-ul > li h3 {
    opacity: 1;
    margin-bottom: 0em;
}
.section-ul > li .meta {
    opacity: 0.6;
}
.section h3 > a {
    font-family: Inter;
    margin: 0;
}
.section p {
    margin-top: 0;
}
.reduce p {
    font-size: 0.8em;
}

.desc .reduce h1,
h2 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.5em;
}
.xx {
    text-decoration: none;
}
.aaa {
    text-decoration: underline;
    font-family: "Spectral";
}

.prose {
    max-width: fit-content;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    padding: 20px;
}
.justify-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
