:root {
    --color-default: #fff;
    --text-color: #333;  
    --color-border:#e7e7e7;
    --header-height: 3.5rem;

  }
  @media (prefers-color-scheme: dark){
      :root{
          --color-default: #181818;
          --text-color: #e0e0e0;
          --color-border:#e7e7e7;
          --header-height: 3.5rem;


      }
  }
  [data-theme='dark'] {
    --color-default: #181818;
    --text-color: #e0e0e0;
    --color-border:#e7e7e7;
    --header-height: 3.5rem;


  }
  [data-theme='light'] {
    --color-default: #fff;
    --text-color: #333;
    --header-height: 3.5rem;

  }

  body {
      background-color: var(--color-default);
      font-family: 100%/1.5 system-ui,helvetica,sans-serif;
      color: var(--text-color);
      --header-height: 3.5rem;

  }

  p {
    margin-bottom: 1.6rem;
    font-size: 1.125rem;
}
.feature :last-child {
    margin-bottom: 0;
}
.feature:hover{
    outline: 1px solid var(--text-color);
    border-radius: 10px;
}
.feature a {
    text-decoration: none;
    color: var(--text-color)

}
h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

  .tagline {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
  }

  .cta, .tagline {
    margin-bottom: 2rem;
}

.feature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem auto;
    max-width: 80rem;
    padding: 0 2rem;
}

.feature {
    flex: 1 1 33%;
    min-width: 300px;
    padding: 1rem;
}

.feature-title {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

h2 {
    font-family: 'Lobster', cursive;
    /*font-weight: bold;*/
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .btn, .is-hidden {
    white-space: nowrap;
} */

.header {
    background: var(--color-default);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 0.0625rem solid var(--color-border);
    transition: background .3s;
}
.header, .header-area {
    height: var(--header-height);
}

.menu-logo {
    font-weight: 700;
    font-size: 1.25rem;
}
.menu-item {
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.menu, .menu-item {
    display: flex;
    height: 100%;
}

h1{
    font-family: 'Lobster', cursive;
    /* text-align: center;
     margin-top: 250px;
    font-size: 6em; */

}
p{
    font-family: 'Lobster';
    font-size: 1.2em;
    
}
div.social-network a {
    background-color: var(--color-default);
    border-radius: 100%;
    /* color: #f7d35d; */
    padding: 5px 6px 5px 6px;
    position: relative; 
    top: 25px;

}

.theme{
    padding-bottom: 30px;
    margin-left: 90px;
}
.footer {
    padding: 2rem 0;
    border-top: 0.0625rem solid var(--color-border);
    text-align: center;
    margin-left: 15px;


}

footer p{
    text-align: center;
    margin-left: 15px;
}

/* .back-titre{
  
    display: flex;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 4rem auto 2rem;
    padding: 2rem;
    background: var(--color-code-bg);
    text-align: center;

} */

.back-titre h1  {
    font-size: 90px;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color);
    text-align: center;
    padding-top: 15%;
}

.back-titre:hover{
    transform: perspective(1000px) translateZ(0px) rotateX(-11.5562deg) rotateY(-5.73487deg);
    transition: all 150ms linear 0s;
}